body {
    font-family: Arial, sans-serif;
    background: lightgreen;
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
    background:lightgreen;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.input-section {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

#result {
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
}
